*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
    line-height: 1.8rem;
    font-weight: 400;
}

.pg1{
    /* border: 1px solid red; */
    width: 100%;
    height: 50rem;
    background-image: url(img/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    background-attachment: fixed;
}
.box1{
    padding: 2rem;
    /* border: 1px solid red; */
    background-color: black;
    outline: 0.5rem inset purple;
    outline-offset: 0.5rem;
    border-radius: 5px 0 5px 0 ;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.clarusway{
    color:white;
    font-size: 3rem;
    letter-spacing: 0.5rem;
   
}
.box2{
    background-color: rgb(241, 241, 241);
    text-align: center;
    padding: 3rem ;
}
.box2 h1{
    padding-bottom: 1rem;
}

.pg2{
    width: 100%;
    height: 50rem;
    background-image: url(img/bg2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    background-attachment: fixed;

}
.pg2 img{
    width: 25%;
    height: 15%;
}
.box3{
    background-color:#282e34 ;
    text-align: center;
    padding: 3rem;
}
.box3 p, .box3 h1{
    color: white;
    padding-bottom: 1rem;
}
.pg3{
    /* border: 1px solid red; */
    width: 100%;
    height: 50rem;
    background-image: url(img/bg3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    background-attachment: fixed;
}
.box4{
    padding: 2rem;
    /* border: 1px solid red; */
    background-color: black;
    outline: 0.5rem inset purple;
    outline-offset: 0.5rem;
    border-radius: 5px 0 ;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box4 span{
    letter-spacing: 0.5rem;
    color: white;
    font-size: 3rem;
}

.box5{
    background-color:rgb(241, 241, 241) ;
    text-align: center;
    padding: 3rem ;
}
.box5 h1{
    padding-bottom: 1rem;
}
.pg4{
    /* border: 1px solid red; */
    width: 100%;
    height: 50rem;
    background-image: url(img/bg4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    background-attachment: fixed;
}
.box6{
   padding: 2rem;
    /* border: 1px solid red; */
    background-color: black;
    outline: 0.5rem inset purple;
    outline-offset: 0.5rem;
    border-radius: 5px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box6 span {
    color: white;
    font-size: 3rem;
    letter-spacing: 0.5rem;
}

.box7{
    background-color:#282e34 ;
    text-align: center;
    padding: 3rem ;
}
.box7 p, .box7 h1{
    color: white;
    padding-bottom: 1rem;
}
.pg5{ 
    /* border: 1px solid red; */
    width: 100%;
    height: 50rem;
    background-image: url(img/bg1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    background-attachment: fixed;
}
.box8{
    padding: 2rem;
    /* border: 1px solid red; */
    background-color: black;
    outline: 0.5rem inset purple;
    outline-offset: 0.5rem;
    border-radius: 5px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box8 span{
    color: white;
    font-size: 3rem;
    letter-spacing: 0.5rem;
}