*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
    line-height: 1.8rem;
    font-weight: 400;
}

.pg1{
    /* border: 1px solid red; */
    
    height: 80vw;
    background-image: url(img/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    background-attachment: fixed;
    opacity: 0.7;
}
.box1{
    padding: 2rem;
    /* border: 1px solid red; */
    background-color: black;
    outline: 0.5rem inset purple;
    outline-offset: 0.5rem;
    border-top-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.clarusway{
    color:white;
    font-size: 3rem;
    letter-spacing: 0.5rem;
   
}
.box2{
    background-color: rgb(241, 241, 241);
    text-align: center;
    padding: 3rem ;
}
.box2 h1{
    padding-bottom: 1rem;
}

.pg2{
    
    height: 80vw;
    background-image: url(img/bg2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    background-attachment: fixed;
    opacity: 0.7;

}
.logo{
    height: 10vw;
}
.logo img{
    height: 100%;
}

.box3{
    background-color:#282e34 ;
    text-align: center;
    padding: 3rem;
}
.box3 p, .box3 h1{
    color: white;
    padding-bottom: 1rem;
}
.pg3{
    /* border: 1px solid red; */
   
    height: 80vw;
    background-image: url(img/bg3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    background-attachment: fixed;
    opacity: 0.7;
}
.box4{
    letter-spacing: 0.5rem;
    color: white;
    font-size: 3rem;
}

.box4 span{padding: 2rem;
    /* border: 1px solid red; */
    background-color: black;
    outline: 0.5rem inset purple;
    outline-offset: 0.5rem;
    border-top-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.box5{
    background-color:rgb(241, 241, 241) ;
    text-align: center;
    padding: 3rem ;
}
.box5 h1{
    padding-bottom: 1rem;
}
.pg4{
    /* border: 1px solid red; */
    
    height: 80vw;
    background-image: url(img/bg4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    background-attachment: fixed;
    opacity: 0.7;
}
.box6{
   padding: 2rem;
    /* border: 1px solid red; */
    background-color: black;
    outline: 0.5rem inset purple;
    outline-offset: 0.2rem;
    border-top-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: capitalize;
    line-height: 5rem;
}
.box6 span {
    color: white;
    font-size: 3rem;
    letter-spacing: 0.5rem;
}

.box7{
    background-color:#282e34 ;
    text-align: center;
    padding: 3rem ;
}
.box7 p, .box7 h1{
    color: white;
    padding-bottom: 1rem;
}
.pg5{ 
    /* border: 1px solid red; */
   
    height: 80vw;
    background-image: url(img/bg1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    background-attachment: fixed;
    opacity: 0.7;
}
.box8{
    padding: 2rem;
    /* border: 1px solid red; */
    background-color: black;
    outline: 0.5rem inset purple;
    outline-offset: 0.5rem;
    border-top-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box8 span{
    color: white;
    font-size: 3rem;
    letter-spacing: 0.5rem;
}